Repository cloud-mouse/Maiweite-Admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Deploying to gh-pages from @ cloud-mouse/Maiweite-Admin@7eabee069b5175b14012aa88b5ab41f6d22cad89 🚀
  stats.html
  stats.html.br
  stats.html.gz
Due: none

尝试部署
  .github/workflows/webpack.yml
Due: none

更新
  .github/workflows/main.yml
  .github/workflows/webpack.yml
Due: none

Deploying to gh-pages from @ cloud-mouse/Maiweite-Admin@8e98b76c44a3ea8dbc8187056fc85e9d78cc4ad4 🚀
  stats.html
  stats.html.br
  stats.html.gz
Due: none

fix: 修复
  public/.nojekyll
Due: none

Deploying to gh-pages from @ cloud-mouse/Maiweite-Admin@4fd6e21abfe34a863e6f22f6b99fcd8c234bc892 🚀
  .nojekyll
  stats.html
  stats.html.br
  stats.html.gz
Due: none

feat: 添加mock
  .env.development
  package.json
  pnpm-lock.yaml
  src/api/config/servicePort.ts
  src/api/index.ts
  src/api/interface/modules/sys_user.ts
  src/api/modules/user.ts
  src/mock/sys_user.ts
  src/mock/user.ts
  src/store/modules/user.ts
  src/views/sys_setting/user_center/index.vue
  vite/plugins/index.ts
  vite/plugins/mock.ts
  vite/proxy.ts
Due: eslint --fix, stylelint --fix

feat: 生产环境mock
  vite/plugins/mock.ts
Due: eslint --fix

fix: 修改mock问题
  src/api/config/servicePort.ts
Due: eslint --fix

Deploying to gh-pages from @ cloud-mouse/Maiweite-Admin@a2c505045f982c6a0093c8cdadbe74cbeebd1496 🚀
  assets/js/_...all_-DPs5Gzhh.js
  assets/js/_...all_-DPs5Gzhh.js.br
  assets/js/_...all_-DPs5Gzhh.js.gz
  assets/js/_...all_-Ya0jwdta.js
  assets/js/_...all_-Ya0jwdta.js.br
  assets/js/_...all_-Ya0jwdta.js.gz
  assets/js/index-5DnePWM8.js
  assets/js/index-5DnePWM8.js.br
  assets/js/index-5DnePWM8.js.gz
  assets/js/index-CpxQ8gme.js
  assets/js/index-CpxQ8gme.js.br
  assets/js/index-CpxQ8gme.js.gz
  assets/js/index-D-JTdxS_.js
  assets/js/index-D-JTdxS_.js.br
  assets/js/index-D-JTdxS_.js.gz
  assets/js/index-DIbd_XQd.js
  assets/js/index-DIbd_XQd.js.br
  assets/js/index-DIbd_XQd.js.gz
  assets/js/index-DJt6Vqaq.js
  assets/js/index-DJt6Vqaq.js.br
  assets/js/index-DJt6Vqaq.js.gz
  assets/js/index-QlY8RNdK.js
  assets/js/index-QlY8RNdK.js.br
  assets/js/index-QlY8RNdK.js.gz
  assets/js/index-XAGOrgkG.js
  assets/js/index-XAGOrgkG.js.br
  assets/js/index-XAGOrgkG.js.gz
  assets/js/index-hMcLhKS1.js
  assets/js/index-hMcLhKS1.js.br
  assets/js/index-hMcLhKS1.js.gz
  index.html
  index.html.br
  index.html.gz
  stats.html
  stats.html.br
  stats.html.gz
Due: none

fix：fixedbug
  .env.test
Due: none

Deploying to gh-pages from @ cloud-mouse/Maiweite-Admin@d0eda2b23d43ba669d054de3f841e8ad6bbf419a 🚀
  assets/js/_...all_-BAiB6fCV.js
  assets/js/_...all_-BAiB6fCV.js.br
  assets/js/_...all_-BAiB6fCV.js.gz
  assets/js/_...all_-Ya0jwdta.js
  assets/js/_...all_-Ya0jwdta.js.br
  assets/js/_...all_-Ya0jwdta.js.gz
  assets/js/index-5DnePWM8.js
  assets/js/index-5DnePWM8.js.br
  assets/js/index-5DnePWM8.js.gz
  assets/js/index-BFtD9xeJ.js
  assets/js/index-BFtD9xeJ.js.br
  assets/js/index-BFtD9xeJ.js.gz
  assets/js/index-CBULMNX5.js
  assets/js/index-CBULMNX5.js.br
  assets/js/index-CBULMNX5.js.gz
  assets/js/index-CpxQ8gme.js
  assets/js/index-CpxQ8gme.js.br
  assets/js/index-CpxQ8gme.js.gz
  assets/js/index-DIbd_XQd.js
  assets/js/index-DIbd_XQd.js.br
  assets/js/index-DIbd_XQd.js.gz
  assets/js/index-DVk0szWl.js
  assets/js/index-DVk0szWl.js.br
  assets/js/index-DVk0szWl.js.gz
  assets/js/index-JESdeBnY.js
  assets/js/index-JESdeBnY.js.br
  assets/js/index-JESdeBnY.js.gz
  assets/js/index-XAGOrgkG.js
  assets/js/index-XAGOrgkG.js.br
  assets/js/index-XAGOrgkG.js.gz
  index.html
  index.html.br
  index.html.gz
  stats.html
  stats.html.br
  stats.html.gz
Due: none

feat: test
  vite/plugins/mockProdServer.ts
Due: eslint --fix

fix: 尝试mock
  .env.development
  pnpm-lock.yaml
  src/main.ts
  src/mock/mockProdServer.ts
Due: eslint --fix

feat: 工作台页面（未完成）
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/api/interface/modules/home.ts
  src/api/modules/home.ts
  src/components/charts/mixins/resize.ts
  src/mock/_sys_user.bundled_1726835934257_6tmmresswgf.mjs
  src/mock/_user.bundled_1726835934252_uzrs4k1fhlg.mjs
  src/router/routes.ts
  src/views/home/components/charts/NewPatientsLineChart.vue
  src/views/home/components/charts/ScheduleProcessBarChart.vue
  src/views/home/index.vue
  vite/plugins/compression.ts
Due: eslint --fix, stylelint --fix

feat: 简单制作工作台页面
  eslint.config.js
  pnpm-lock.yaml
  src/api/modules/dashboard.ts
  src/api/modules/home.ts
  src/assets/icons/workbench-abnormal.svg
  src/assets/icons/workbench-arrow-left.svg
  src/assets/icons/workbench-arrow-right.svg
  src/assets/icons/workbench-audit.svg
  src/assets/icons/workbench-chat-room-message.svg
  src/assets/icons/workbench-empty.svg
  src/assets/icons/workbench-question-mark.svg
  src/assets/icons/workbench-questionnaire-abnormal.svg
  src/assets/icons/workbench-schedule-right.svg
  src/assets/icons/workbench-schedule.svg
  src/assets/icons/workbench-server-user.svg
  src/assets/icons/workbench-sort-default.svg
  src/assets/icons/workbench-sort-down.svg
  src/assets/icons/workbench-sort-up.svg
  src/layouts/modules/Menu/item.vue
  src/mock/dashboard.ts
  src/mock/mockProdServer.ts
  src/mock/user.ts
  src/router/modules/normal.ts
  src/router/modules/permission_demo.ts
  src/router/modules/system_demo.ts
  src/router/routes.ts
  src/views/dashboard/components/charts/NewUsersLineChart.vue
  src/views/dashboard/components/charts/ScheduleProcessBarChart.vue
  src/views/dashboard/index.vue
  src/views/sys_setting/permission/index.vue
  src/views/sys_setting/roles/index.vue
Due: eslint --fix, stylelint --fix

fix: 修复打包
  src/api/modules/dashboard.ts
Due: eslint --fix

fix: 构建bug
  src/api/interface/index.ts
  src/api/modules/dashboard.ts
  src/views/dashboard/index.vue
Due: eslint --fix, stylelint --fix

feat: 基础的图片上传
  src/components/FileUpload/index.vue
  src/components/ImageUpload/index.vue
  src/components/ImagesUpload/index.vue
  src/components/PageHeader/index.vue
  src/components/PageMain/index.vue
  src/router/modules/normal.ts
  src/router/routes.ts
  src/types/components.d.ts
  src/views/base_comp/base_table/index.vue
  src/views/base_comp/file_upload/index.vue
  src/views/base_comp/index.vue
Due: eslint --fix, stylelint --fix

fix: bug
  src/views/base_comp/base_table/index.vue
Due: eslint --fix, stylelint --fix

fix: 打包失败
  src/views/base_comp/index.vue
Due: eslint --fix, stylelint --fix

feat: 颜色logo
  public/favicon.ico
  public/favicon.svg
  src/assets/images/login-bg.png
  src/router/modules/normal.ts
  src/settings.default.ts
Due: eslint --fix

feat: 大文件上传示例
  src/router/modules/normal.ts
  src/views/base_comp/file_upload/file_utils/createChunk.js
  src/views/base_comp/file_upload/file_utils/cutFile.ts
  src/views/base_comp/file_upload/file_utils/spark-md5.js
  src/views/base_comp/file_upload/file_utils/webworker.js
  src/views/base_comp/file_upload/webworker.vue
Due: eslint --fix, stylelint --fix

feat: 大文件上传
  eslint.config.js
  src/assets/icons/logo.svg
  src/layouts/modules/Logo/index.vue
  src/router/modules/normal.ts
  src/views/base_comp/file_upload/file_utils/createChunk.js
  src/views/base_comp/file_upload/file_utils/webworker.js
  src/views/base_comp/file_upload/webworker.vue
  src/views/demo/base_table/index.vue
  src/views/demo/large_file/file_utils/cutFile.ts
  src/views/demo/large_file/file_utils/spark-md5.js
  src/views/demo/large_file/file_utils/webworker.js
  src/views/demo/large_file/index.vue
Due: eslint --fix, stylelint --fix

fix: 修bug
  public/spark-md5.js
Due: none

Deploying to gh-pages from @ cloud-mouse/Maiweite-Admin@3c6fcb37509cb26eee92f8b4a20a2611f2385af4 🚀
  spark-md5.js
  spark-md5.js.br
  spark-md5.js.gz
Due: none

feat: 封装websocket
  eslint.config.js
  src/hooks/useSocket.ts
  src/hooks/useWebSocket.ts
Due: eslint --fix

fix: 打包错误问题
  package.json
  src/types/components.d.ts
  src/types/shims.d.ts
Due: eslint --fix

fix: bug
  src/components/FormDesign/core/components/designer/src/modules/preview/index.sass
Due: none

fix: 1
  src/components/FormDesign/core/components/designer/src/modules/preview/index.sass
  src/components/FormDesign/core/components/designer/src/modules/preview/index.scss
Due: stylelint --fix

feat(normal): 添加页面装修功能及组件
  src/router/modules/normal.ts
  src/views/app_design/components/components-edit.vue
  src/views/app_design/components/components-select.vue
  src/views/app_design/components/preview.vue
  src/views/app_design/index.vue
  src/views/components_demo/time_line/index.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,vue}
