Repository cloud-mouse/Maiweite-Admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

refactor(dashboard): 统一使用主题色变量
  src/views/dashboard/index.vue
Due: eslint --fix, stylelint --fix

refactor: 使用CSS变量统一图标颜色
  src/assets/icons/workbench-schedule.svg
  src/assets/icons/workbench-server-user.svg
  src/assets/icons/workbench-sort-down.svg
  src/assets/icons/workbench-sort-up.svg
  src/views/dashboard/index.vue
Due: eslint --fix, stylelint --fix

refactor: 统一使用主题变量优化样式
  src/layouts/index.vue
  src/views/dashboard/components/charts/NewUsersLineChart.vue
  src/views/dashboard/components/charts/ScheduleProcessBarChart.vue
  src/views/dashboard/index.vue
  src/views/demo/large_file/index.vue
  src/views/sys_setting/user_center/index.vue
Due: eslint --fix, stylelint --fix

build: 更新依赖并添加vite-plugin-vue-mcp插件
  package.json
  src/assets/images/login-bg.png
  src/assets/images/login-bg1.png
  src/types/auto-imports.d.ts
  src/views/login/index.vue
  vite/plugins/index.ts
  vite/plugins/vue-mcp.ts
Due: eslint --fix, stylelint --fix

feat: mcp use
  .cursor/mcp.json
  src/views/demo/base_table/index.vue
  src/views/sys_setting/user_center/index.vue
  vite/plugins/vue-mcp.ts
Due: eslint --fix, stylelint --fix

doc: 添加组件[PageMain,ProTable,TableSelect]使用文档
  docs/PageMain.md
  docs/ProTable.md
  docs/TableSelect.md
Due: none

feat(console): enable TurboConsole plugin conditionally based on environment variable
  pnpm-lock.yaml
  vite/plugins/console.ts
  vite/plugins/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,vue}
  stylelint --fix: any of: *.{css,scss,vue}
